.App {
  text-align: center;
}



/* .wrapper {
  padding-top: 100px;
  }
  .leaflet-container {
    width: 100%;
    height: 100vh;
  }
/* .header {
  font-family: 'Josefin Sans', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 40px;
  height: 100px;
  background-color: #ffffff;;
  color: #333;
  transform: translateY(0);
  transition: transform 0.3s ease;
} */

.header2 {
  font-family: 'Josefin Sans', sans-serif;
  position: fixed;
  top: 666;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 40px;
  height: 100px;
  background-color: #ffffff;;
  color: #333;
  transform: translateY(0);
  transition: transform 0.3s ease;
  /* border-bottom: 1px solid rgb(184, 184, 184); */
}

.header.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.header.hidden {
  transform: translateY(-110%);
}

.header.tranparent {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 75px;
  height: 75px;
}


.nav-options {
  padding-left: 25px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 50px;
  list-style-type: none;
}
.mobile-option {
  display: none;
}

.option :hover {
  color: rgb(253, 0, 0);
}
.signin-up {
  display: flex;
  padding: 0px 5px;
  list-style-type: none;
}
.sign-in {
  padding-right: 50px;
  align-self: center;
  text-align: right;
}
.sign-in :hover {
  color: white;
}

.mobile-menu {
  display: none;
}
.menu-icon {
  display: none;
}


@media (max-width: 648px) {
  .header {
    transition: all 0.1s ease;
    height: 50px;
    padding: 0px 10px;
  }

  .logo {
    width: 35px;
    height: 35px;
  }

  .nav-options {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 50px;
    left: 100%;
    opacity: 0;
    transition: all 0.2s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  .nav-options.active {
    background: #ffffff;
    left: 0;
    opacity: 1;
    transition: all 0.2s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }

  .menu-icon {
    display: block;
    /* border: 1px solid black; */
    width: 18px;
    height: 18px;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }

  .signin-up {
    display: none;
  }

}

.mobile-menu {
  display: block;
}

.z {
  z-index: -1;
}
.zz {
  z-index: 1;
}

















