body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.test {
  max-width: 900px;
}

.gridding {
  /* border: 1px solid rgb(24, 179, 44); */
    width: 100%;
    height: auto;
    display: grid;
    gap: 5px;
    row-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 0px;
    /* user-select: none; */
}

.gTeAXC {
  width: 100%;
  /* border: 2px solid rgb(138, 47, 47); */
  /* display: grid;
  row-gap: 0; */
  /* grid-template-rows: auto minmax(0px, 1fr); */
}


.card {
  border-bottom: 4px solid rgb(22, 189, 58);
  height: 50px;
  padding: 3px;
}

.header-card-show-hide,
.header-card {
  border-bottom: 4px solid rgb(22, 189, 58);
  padding: 3px;
}

.show-vertical {
  display: flex;
}
.first-col-width {
  width: 70%;
  display: flex;
  justify-content: flex-start;
}

.prices {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.standard-price {

  
}

.family-price {
 
}



@media only screen and (max-width: 804px) {
  .header-card-show-hide {
    display: none;
  }

  /* .rotate {
    transform: rotate(-90deg); */
    /* Legacy vendor prefixes that you probably don't need... */
    /* Safari */
    /* -webkit-transform: rotate(-90deg); */
    /* Firefox */
    /* -moz-transform: rotate(-90deg); */
    /* IE */
    /* -ms-transform: rotate(-90deg); */
    /* Opera */
    /* -o-transform: rotate(-90deg); */
    /* Internet Explorer */
    /* filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  } */
}




