body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.max-size {
  
}

.test {
  border: 1px solid black;
  max-width: 800px;
  display: grid;
}
.gTeAXC {
  border: 1px solid black;
  /* position: relative; */
  /* width: 100%; */
  height: auto;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
}


