body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(250, 250, 250);;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gallery-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  /* align-items: center; */
  margin: 0;
  padding: 0;
}


/* The Images */
.gallery-img {
  max-width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.gallery-frame {
  display: grid;
  align-self: center;
  height: 100%;
  /* padding: .5rem; */
  /* font-size: 1.2rem;
  text-align: center; */
  background-color: #343434;
  
  border: 12px solid rgb(230, 230, 230);
  border-radius: 1px;
  color: #d9d9d9;
}

@media (max-width: 648px) {
  .gallery-img {
    width: 100%;
  }
}